{{outlet}}

<table class="border">
  <tr>
    <th>Name</th>
    <th>Last Name</th>
    <th>Age</th>
  </tr>
  {{#each usersArr as |user index|}}
    <tr class={{class-row user.id}} onClick={{action 'selectRow'}}>
      <th>
        {{user.firstName}}
      </th>
      <th>
        {{user.lastName}}
      </th>
      <th>
        {{format-age user.birthDate}}
      </th>
    <button onClick={{action 'destroyUser' user}}>Destroy</button>
    </tr>
  {{/each}}
</table>

